      
h1 {
    color: rgb(243, 248, 244);
    font-size: 50px;
}  

body {
    background-image:url(background1.jpg);
    background-size: cover;
}
p
{
    font-size: 20px;
    color: white;   
    
}
#Lois
{
    margin-left:10px ;
    
}
#dietcoke
{
    
    margin-left: 70px;
}
#Pietro
{
    margin-left: 75px;
}
#danny
{
width: 800px;
}
#AM
{
    margin-left: 255px;
}
#pp
{
    font-size: 30px;
    margin-left: 85px;
}