      
h1 {
    color: rgb(243, 248, 244);
    font-size: 50px;
}  

body {
    background-image:url(background1.jpg);
    background-size: cover;
}
p
{
    font-size: 20px;
    color: white;   
    align-items:center;
}
#Lois
{
    float:right;
}
#dietcoke
{
    border: white 2px;
    float:center;
}
#Pietro
{
    margin-left: 5px;
}